body {
	width: 1000px;
	margin: 0px auto;
}
header {
	width: 1000px;
	height: 150px;
	background-color: #860000;
}
nav {
	width: 1000px;
	height: 30px;
	background-color: #3B3ACA;
}
nav li {
	list-style-type: none;
	float: left;
	/*margin: 10px 0px 0px 15px;*/
	width: 150px;
	height: 26px;
	background-color: #D33A42;
	border: 1px solid grey;
	color: white;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}
#wsMap {
	width: 797px;
	height: 600px;
	float: right;
}
#carousel {
	position: absolute;
	overflow: hidden;
	width: 618px;
	height: 230px;
	left: 90px;
}
#carousel>img {
	position: absolute;
	top: 15px;
	width: 198px;
	height: 198px;
}
#wrapper {
	position: relative;
}
#leftButton {
	width: 50px;
	height: 230px;
	position: absolute;
	left: 0px;
}
#rightButton {
	width: 50px;
	height: 230px;
	position: absolute;
	right: 0px;
	top: 0px;
}
aside {
	width: 200px;
	height: 600px;
	background-color: #4F81D3;
}
section {
	position: relative;
	width: 797px;
	height: 600px;
	float: right;
	border-right: 3px solid #4F81D3;
	z-index: 0;
}
footer {
	position: relative;
	width: 1000px;
	height: 150px;
	background-color: #7B4FD3;
}
ul li>ul {
	position: relative;
	top: 5px;
	color: white;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}
ul li>ul li {
	display: none;
	text-align: left;
	padding-left: 10px;
}
input[onclick="foo()"] {
	position: relative;
	top: 50px;
	left: 900px;
}
.scrollButton {
	position: relative;
	top: 100px;
	left: 20px;
	cursor: pointer;
}

.scrollButton:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.blockMenu {
	position: relative;
	list-style-type: none;
	width: 150px;
	height: 30px;
	background-color: #D33A42;
	border: 1px solid grey;
	position: relative;
	display: block;
	z-index: 1;
}
.hovered {
	background-color: orange;
}
.unhovered {
	background-color: #3B3ACA;
}
.noneMenu {
	display: none;
}
.canselButton {
	width: 15px;
	height: 15px;
	background: url("../imgs/canselButton.png");
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 5;
	cursor: pointer;
}
.transform:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.transform:active {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);/**/
}
.openGallery {
	width: 797px;
	height: 0px;
	border-top: 3px solid #4F81D3;
	overflow: auto;
	background: #fff;
	position: absolute;
	top: 600px;
}
.galleryImage {
	width: 220px;
	height: 220px;
	float: left;
	margin: 15px;
	outline: 1px solid grey;	
}
* {
	margin: 0px;
	padding: 0px;
}