<label><li>
    <input type="checkbox" />
    Аллея
</li></label>
<label><li>
    <input type="checkbox" />
    Вечный огонь
</li></label>
<label><li>
    <input type="checkbox" />
    Мемориал
</li></label>
<label><li>
    <input type="checkbox" />
    Монумент
</li></label>
<label><li>
    <input type="checkbox" />
    Памятник
</li></label>
<label><li>
    <input type="checkbox" />
    Парк
</li></label>
<label><li>
    <input type="checkbox" />
    Площадь
</li></label>
<label><li>
    <input type="checkbox" />
    Обелиск
</li></label>
<label><li>
    <input type="checkbox" />
    Улица
</li></label>
<label><li>
    <input type="checkbox" />
    Прочее
</li></label>
<li>
    <div id="filter">Отфильтровать</div>
</li>