{% spaceless %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
{#<script type="text/javascript" src="http://scriptjava.net/source/scriptjava/scriptjava.js"></script>#}
<head>
	<title>Белые журавли</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />
	<link href="{% static 'css/document.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/main_section.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/left_panel.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/map.css' %}" rel="stylesheet" type="text/css"/>
{#	<link href="{% static 'css/gallery.css' %}" rel="stylesheet" type="text/css"/>#}

	<script defer src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
	<script defer src="http://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=debug"></script>
	<script defer src="{% static 'js/menu.js' %}"></script>
{#	<script defer src="{% static 'gallery.js' %}"></script>#}
	<script defer src="{% static 'js/data.js' %}"></script>

    <script defer src="{% static 'js/map.js' %}"></script>
    <script defer src="{% static 'js/mediator.js' %}"></script>
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body id="box-scripts">
<div id="main_wrapper">
	<header>
		<img id="logo" src="{% static 'imgs/logo.png' %}" alt="Белые журавли">
		<div id="auth"></div>
	</header>
	<nav>
        {% include 'main_menu.html' with user=user %}
	</nav>
	<section id="container">
		<aside id="aside">
            <ul id="category_list"></ul>
{#            {% include 'category_list.html' %}#}
            {% include 'search_filter.html' %}
{#            {% include 'ws_app/menu/search/search_result.html' %}#}
{#            {% include 'ws_app/add_object.html' %}#}
		</aside>

		<div id="section">
			<div id="wsMap"></div>
		</div>

		<div id="actionsWindow_1" class="actionsWindow"></div>

        {% include 'about_page.html' with user=user %}
	</section>
	<footer id="footer"></footer>
</div>
</body>
</html>
{% endspaceless %}