<div id="add_object">
    <ul>
        <li>
            <h4>Поля для заполнения</h4>
        </li>
        <li>
            <span>Название</span>
            <input type="textarea" name="name">
        </li>
        <li>
            <span>Местоположение</span>
            <input type="textarea" name="place">
        </li>
        <li>
            <span>Категория</span>
            <select name="category" id="category">
                <option value="Аллея">Аллея</option>
                <option value="Обелиск">Обелиск</option>
                <option value="Парк">Парк</option>
                <option value="Мемориал">Мемориал</option>
                <option value="Вечный огонь">Вечный огонь</option>
                <option value="Монумент">Монумент</option>
                <option value="Памятник">Памятник</option>
                <option value="Площадь">Площадь</option>
                <option value="Улица">Улица</option>
                <option value="Прочее">Прочее</option>
            </select>
        </li>
        <li>
            <span>Фото</span>
            <input type="file" name="photo">
        </li>
        <li>
            <span>Описание</span>
            <input type="textarea" name="desc">
        </li>
        <li>
            <span>История</span>
            <input type="textarea" name="history">
        </li>
        <li>
            <span>Состояние</span>
            <select name="condition" id="condition">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </li>
        <li>
            <span>Комментарии</span>
            <textarea name="comments" id="comments" cols="22" rows="3"></textarea>
            <!-- <input type="textarea" rows="10" name="comments"> -->
        </li>
        <li>
            <input type="button" name="add" value="Добавить">
        </li>
    </ul>
</div>