<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Добавить объект{% endblock %}</title>
  </head>
  <body>
    <form id="{% block form_id %}add_object{% endblock %}" name="{% block form_name %}add_object{% endblock %}" action="" method="post">
      {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <p>{{ field.errors }}</p>
            <p>{{ field.label_tag }}</p>
            {% block field_with_button %}
                {% if field.name == 'address' %}
                    <p>
                        {{ field }}
                        <a href="{% url 'ws:add_address' %}">
                            <button type="button">Добавить</button>
                        </a>
                    </p>
                {% else %}
                    <p>{{ field }}</p>
                {% endif %}
            {% endblock field_with_button %}
        {% endfor %}
      <button type="submit">Добавить</button>
    </form>
  </body>
</html>