<div id="gallery">
<!--  контейнер галереи -->
    <div id="leftButton">
    <!-- контейнер для картинки левой кнопки, которая
        позиционируется относительно этого контейнера -->
        <img id="left" src="{% static 'ws_app/imgs/left.png' %}" alt="" class="scrollButton transform">
    </div>
    <div id="carousel">
    <!-- контейнер для галереи-карусели картинок, загружается javascript'ом -->
    </div>
    <div id="wrapper">
    <!-- контейнер, относительно которого позиционируется кнопка закрытия галереи -->
        <div id="canselButton" class="canselButton transform">
        <!-- контейнер для кнопки закрытия -->
        </div>
    </div>
    <div id="rightButton">
    <!-- контейнер для картинки правой кнопки, которая
        позиционируется относительно этого контейнера -->
        <img id="right" src="{% static 'ws_app/imgs/right.png' %}" alt="" class="scrollButton transform">
    </div>
</div>