<div id="search_filter">
    <div id="sf_block_1" class="posabs">
        <div id="sf_block_2" class="posabs">
            <label>
            <input name="in_desc" type="checkbox" form='search_form'/>Искать в описании
            </label>
        </div>
        <input name="title" type="textarea" class="posabs" placeholder="Название" form='search_form'>
    </div>

    <div id="sf_block_4" class="posabs">
        <input name="country" type="textarea" placeholder="Страна" form='search_form'>
        <input name="region" type="textarea" placeholder="Область" form='search_form'>
        <input name="city" type="textarea" placeholder="Населенный пункт" form='search_form'><br>
        <input name="street" type="textarea" placeholder="Улица" form='search_form'><br>
        <input name="to_search" type="submit" value="Поиск" form='search_form'>
    <form id='search_form' action="" method="GET"></for
    </div>
</div>