<ul id="main_menu">
    <li id="category">Категории
    </li>
    <li id="actions">Мероприятия
    </li>
    <li id="about">О проекте
    </li>
    <li id="search">Поиск
    </li>
{#    TODO написать js, который будет это обрабатывать#}
    <a href="{% url 'ws_app:profile' %}">
        {% if user.is_authenticated %}
        <li id="profile" class="profile_button_auth-d">
            {{ user.username }}
        </li>
        {% else %}
        <li id="profile" class="profile_button_not_auth-d">
            Войти
        </li>
        {% endif %}
    </a>
</ul>