
.openGallery {
    position: absolute;
    top: 450px;
    width: 798px;
    height: 0px;
    border-top: 2px solid #a0a0a0;
    overflow: auto;
    background: #fff;
}
#carousel {
    position: absolute;
    overflow: hidden;
    width: 618px;
    height: 230px;
    left: 90px;
}
#carousel>img {
    position: absolute;
    top: 15px;
    width: 198px;
    height: 198px;
}
#wrapper {
    position: relative;
}
#leftButton {
    width: 50px;
    height: 230px;
    position: absolute;
    left: 0px;
}
#rightButton {
    width: 50px;
    height: 230px;
    position: absolute;
    right: 0px;
    /*top: 0px;*/
}
.scrollButton {
    position: relative;
    top: 100px;
    left: 20px;
    cursor: pointer;
}
.scrollButton:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.canselButton {
    width: 15px;
    height: 15px;
    background: url("../imgs/canselButton.png");
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
    cursor: pointer;
}