
#container {
    position: relative;
    top: 15px;
    width: 998px;
    height: 450px;
    border-right: 2px solid #a0a0a0;
    overflow: hidden;
}
#section {
    position: absolute;
    left: 200px;
    width: 800px;
    height: 450px;
    float: right;
    z-index: 0;
}