{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Белые журавли</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" /> 
	<link href="{% static 'whiteshadoofs/css/document.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'whiteshadoofs/css/header.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'whiteshadoofs/css/menu.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'whiteshadoofs/css/main_section.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'whiteshadoofs/css/left_panel.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'whiteshadoofs/css/map.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'whiteshadoofs/css/gallery.css' %}" rel="stylesheet" type="text/css"/>

	<script src="{% static 'whiteshadoofs/js/jquery-2.1.3.min.js' %}"></script>
	<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=debug"></script>
	<script src="{% static 'whiteshadoofs/js/menu.js' %}"></script>
	<script src="{% static 'whiteshadoofs/js/gallery.js' %}"></script>
	<script src="{% static 'whiteshadoofs/js/data.js' %}"></script>
</head>
<body>
<div id="main_wrapper">
	<header>
		<img id="logo" src="{% static 'whiteshadoofs/imgs/logo.png' %}" alt="Белые журавли">
		<div id="auth"></div>
	</header>
	<nav>
		<ul id="mainMenu" class="oops">
			<li id="category">Категории
			</li>
			<li id="actions">Мероприятия
			</li>
			<li id="about">О проекте
			</li>
			<li id="search">Поиск
			</li>
		</ul>
	</nav>
	<section id="container">
		<aside id="aside">
<!-- //////////////////////////////////////////////////////////////////////////// -->
			<ul id="category_list">
				<label><li>
					<input type="checkbox" />
					Аллея
				</li></label>
				<label><li>
					<input type="checkbox" />
					Вечный огонь
				</li></label>
				<label><li>
					<input type="checkbox" />
					Мемориал
				</li></label>
				<label><li>
					<input type="checkbox" />
					Монумент
				</li></label>
				<label><li>
					<input type="checkbox" />
					Памятник
				</li></label>
				<label><li>
					<input type="checkbox" />
					Парк
				</li></label>
				<label><li>
					<input type="checkbox" />
					Площадь
				</li></label>
				<label><li>
					<input type="checkbox" />
					Обелиск
				</li></label>
				<label><li>
					<input type="checkbox" />
					Улица
				</li></label>
				<label><li>
					<input type="checkbox" />
					Прочее
				</li></label>
				<li>
					<div id="filter">Отфильтровать</div>			
				</li>
			</ul>
<!-- //////////////////////////////////////////////////////////////////////////// -->
			<div id="search_filter">
				<div id="sf_block_1" class="posabs">
					<div id="sf_block_2" class="posabs">
						<label>
						<input name="in_desc" type="checkbox" form='search_form'/>Искать в описании
						</label>
					</div>
					<input name="title" type="textarea" class="posabs" placeholder="Название"form='search_form'>
				</div>
				
				<div id="sf_block_4" class="posabs">			
					<input name="country" type="textarea" placeholder="Страна" form='search_form'>
					<input name="region" type="textarea" placeholder="Область" form='search_form'>
					<input name="city" type="textarea" placeholder="Населенный пункт" form='search_form'><br>
					<input name="street" type="textarea" placeholder="Улица" form='search_form'><br>
					<input name="to_search" type="submit" value="Поиск" form='search_form'>
				<form id='search_form' action="" method="GET"></form>
				</div>
			</div>
			<div id="search_result">
				<div id="sr_block">
					
				</div>
				<input name="new_search" type="button" value="Начать новый поиск">
			</div>
<!-- //////////////////////////////////////////////////////////////////////////// -->
			<div id="addObject">
				<ul>
					<li>
						<h4>Поля для заполнения</h4>
					</li>
					<li>
						<span>Название</span>
						<input type="textarea" name="name">
					</li>
					<li>
						<span>Местоположение</span>
						<input type="textarea" name="place">
					</li>
					<li>
						<span>Категория</span>
						<select name="category" id="category">
							<option value="Аллея">Аллея</option>
							<option value="Обелиск">Обелиск</option>
							<option value="Парк">Парк</option>
							<option value="Мемориал">Мемориал</option>
							<option value="Вечный огонь">Вечный огонь</option>
							<option value="Монумент">Монумент</option>
							<option value="Памятник">Памятник</option>
							<option value="Площадь">Площадь</option>
							<option value="Улица">Улица</option>
							<option value="Прочее">Прочее</option>
						</select>
					</li>
					<li>
						<span>Фото</span>
						<input type="file" name="photo">
					</li>
					<li>
						<span>Описание</span>
						<input type="textarea" name="desc">
					</li>
					<li>
						<span>История</span>
						<input type="textarea" name="history">
					</li>
					<li>
						<span>Состояние</span>
						<select name="condition" id="condition">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
					</li>
					<li>
						<span>Комментарии</span>
						<textarea name="comments" id="comments" cols="22" rows="3"></textarea>
						<!-- <input type="textarea" rows="10" name="comments"> -->
					</li>
					<li>
						<input type="button" name="add" value="Добавить">
					</li>
				</ul>
			</div>
		</aside>
<!-- //////////////////////////////////////////////////////////////////////////// -->
		<div id="section">
			<div id="wsMap"></div>	<!--  контейнер карты -->
			<div id="gallery">
			<!--  контейнер галереи -->
				<div id="leftButton">
				<!-- контейнер для картинки левой кнопки, которая 
					позиционируется относительно этого контейнера -->
					<img id="left" src="{% static 'whiteshadoofs/imgs/left.png' %}" alt="" class="scrollButton transform">		
				</div>
				<div id="carousel">
				<!-- контейнер для галереи-карусели картинок, загружается javascript'ом -->
				</div>
				<div id="wrapper">
				<!-- контейнер, относительно которого позиционируется кнопка закрытия галереи -->
					<div id="canselButton" class="canselButton transform">
					<!-- контейнер для кнопки закрытия -->						
					</div>
				</div>
				<div id="rightButton">				
				<!-- контейнер для картинки правой кнопки, которая 
					позиционируется относительно этого контейнера -->
					<img id="right" src="{% static 'whiteshadoofs/imgs/right.png' %}" alt="" class="scrollButton transform">
				</div>
			</div>
		</div>
<!-- //////////////////////////////////////////////////////////////////////////// -->
		<div id="actionsWindow_1" class="actionsWindow">
		</div>
		<div id="actionsWindow_2" class="actionsWindow">
			<input type="button" value="Предложить мероприятие">
		</div>
		<div id="actionsWindow_3" class="actionsWindow">
			<div id="aw3_date" class="aw3_divs">Дата<input type="textarea"></div>
			<div id="aw3_place" class="aw3_divs">Место<input  type="textarea"></div>
			<div id="aw3_desc" class="aw3_divs">Описание<input type="textarea"></div>
			<input type="button" value="Добавить">
		</div>
		<div id="actionsWindow_4" class="actionsWindow">
			<input type="button" value="Предложить мероприятие">
		</div>
		<div id="about_window">
		</div>
	</section>
	<footer id="footer"></footer>
</div>
</body>
<script src="{% static 'whiteshadoofs/js/init.js' %}"></script>
<script src="{% static 'whiteshadoofs/js/mediator.js' %}"></script>
<script src="{% static 'whiteshadoofs/js/script.js' %}"></script>
</html>